header, footer, nav, article, section {display: block;}
a img  
{  
	border: none;  
} 

body
{
	width:100%;
	color: #111111;
}


body:before /*тень от панели браузера*/
{
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

/* ---------------------- Begin Header ---------------------- */

#header
{
	position:fixed;
	top: 0px;
	z-index:1;
	margin: 0 auto;
	height: 50px;
	width: 99%;
	background-color: #D8D8D8;
	border-radius: 4px;
}

img
{
	display: block;
	position: absolute;
	top: 0px;
	left: 40%;
	height: 100px;
	width: 300px;
	
	background-color: none;
	z-index: 2;
}


/* ----------------------- END Header ----------------------- */


/* --------------------- Begin contentSlider --------------------- */

#contentSlider
{
	margin: 10px auto;
	margin-top: 30px;
	width: 960px;
	height: 300px;
	z-index: 0;
	background-color: #D8D8D8;

	border-radius: 4px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/* ---------------------- END contentSlider ---------------------- */


/* --------------------- Begin infoContent --------------------- */

#infoContent
{
	margin: 10px auto;
	width: 960px;
	background-color: #D8D8D8;
	border-radius: 4px;
	z-index: 0;
	
}

/* ---------------------- END infoContent ---------------------- */


/* --------------------- Begin navContent --------------------- */

#navContent
{
	margin: 10px auto;
	width: 960px;
	background-color: #D8D8D8;
	border-radius: 4px;
	z-index: 0;
	
}

/* ---------------------- END navContent ---------------------- */