header, footer, nav, article, section {display: block;}

a img  
{  
	border: none;  
} 

body
{
	width:100%;
	color: #111111;
	overflow-x: hidden;
	margin: 0px;
	font-size: 14px;
}


body:before /*тень от панели браузера*/
{
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

/* ---------------------- Begin Header ---------------------- */


#header
{
	
	position:fixed;
	top: 0px;
	right:0px;
	z-index: 1;
	height: 60px;
	width: 100%;
	background-color: #E0E0E0;
	transition: 0.3s;
	background-image: url('bgnav.jpg');
}

#header:hover
{
	background-color: #EEE;
	background-image: url('bgnavHover.jpg');

}

img.logotype
{
	display: block;
	position: absolute;
	top: 0px;
	left: 38%;
	height: 100px;
	width: 300px;
	background-color: none;
	
	z-index: 2;
}

ul.listNav
{
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;

	list-style-image: none;
	text-shadow: 0 0 5px rgba(222,222,222, 0.8);
	font-size: 1.3em;
}

ul.listNav>li
{
	display: inline-block;
	line-height:18px;
	padding-bottom: 3px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	cursor: pointer;
	margin-left: 25px;
}

li.listNavR
{
	display: inline-block;
	float: right;
	cursor: pointer;
	margin-right: 50px;
}
/* ----------------------- END Header ----------------------- */


/* --------------------- Begin contentSlider --------------------- */

#contentSlider
{
	margin: 10px auto;
	margin-top: 75px;
	width: 960px;
	height: 360px;
	z-index: 0;
	background-color: #D8D8D8;

	border-radius: 4px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/* ---------------------- END contentSlider ---------------------- */


/* --------------------- Begin infoContent --------------------- */

#infoContent
{
	margin: 10px auto;
	width: 100%;
	background-color: #D8D8D8;

	z-index: 0;
	
}

/* ---------------------- END infoContent ---------------------- */


/* --------------------- Begin navContent --------------------- */

#navContent
{
	margin: 10px auto;
	width: 960px;
	background-color: #D8D8D8;
	border-radius: 4px;
	z-index: 0;
	
}

/* ---------------------- END navContent ---------------------- */