body
{
	margin: 0;
	padding: 0;
}

/* ---------------------- Begin TIMER ---------------------- */
.timer
{
	margin: 10px auto;
	width: 350px;

	overflow: auto;
}

.timerBlock
{
	display: block;
	float: left;
	max-width: 110px;
	min-width: 110px;
	margin: 0;
	padding: 0;
	background-color: #fff;

}

.timerAtom
{
	display: block;
	width: 63px;
	height: 63px;
	clear: both;
	margin: 10px auto;
	padding: 7px 7px;
	
	border-radius: 10px;
	
	box-shadow: 0 -3px 2px #ccc;
	overflow: hidden;
}
.days
{
	background-color: #2DCB74;
	text-shadow: 1px 1px #1b7a46, 2px 2px #1b7a46, 3px 3px #1b7a46, 4px 4px #1b7a46, 5px 5px #1b7a46, 6px 6px #1b7a46, 7px 7px #1b7a46, 8px 8px #1b7a46, 9px 9px #1b7a46, 10px 10px #1b7a46, 11px 11px #1b7a46, 12px 12px #1b7a46, 13px 13px #1b7a46, 14px 14px #1b7a46, 15px 15px #1b7d47, 16px 16px #1c8049, 17px 17px #1d844b, 18px 18px #1e874d, 19px 19px #1e8a4f, 20px 20px #1f8e51, 21px 21px #209153, 22px 22px #219555, 23px 23px #219857, 24px 24px #229b59, 25px 25px #239f5b, 26px 26px #24a25d, 27px 27px #24a55e, 28px 28px #25a960, 29px 29px #26ac62, 30px 30px #27b064, 31px 31px #27b366, 32px 32px #28b668, 33px 33px #29ba6a, 34px 34px #2abd6c, 35px 35px #2ac06e, 36px 36px #2bc470, 37px 37px #2cc772, 38px 38px #2dcb74;
}
 
.hours
{
	background-color: #3598DB;
	text-shadow: 1px 1px #205b83, 2px 2px #205b83, 3px 3px #205b83, 4px 4px #205b83, 5px 5px #205b83, 6px 6px #205b83, 7px 7px #205b83, 8px 8px #205b83, 9px 9px #205b83, 10px 10px #205b83, 11px 11px #205b83, 12px 12px #205b83, 13px 13px #205b83, 14px 14px #205b83, 15px 15px #205d86, 16px 16px #21608a, 17px 17px #22628e, 18px 18px #236591, 19px 19px #246795, 20px 20px #256a99, 21px 21px #266c9c, 22px 22px #276fa0, 23px 23px #2771a4, 24px 24px #2874a7, 25px 25px #2976ab, 26px 26px #2a79af, 27px 27px #2b7cb2, 28px 28px #2c7eb6, 29px 29px #2d81ba, 30px 30px #2e83bd, 31px 31px #2e86c1, 32px 32px #2f88c5, 33px 33px #308bc8, 34px 34px #318dcc, 35px 35px #3290d0, 36px 36px #3392d3, 37px 37px #3495d7, 38px 38px #3598db;
}

.minutes
{
	background-color: #F39C11;
	text-shadow: 1px 1px #925e0a, 2px 2px #925e0a, 3px 3px #925e0a, 4px 4px #925e0a, 5px 5px #925e0a, 6px 6px #925e0a, 7px 7px #925e0a, 8px 8px #925e0a, 9px 9px #925e0a, 10px 10px #925e0a, 11px 11px #925e0a, 12px 12px #925e0a, 13px 13px #925e0a, 14px 14px #925e0a, 15px 15px #96600a, 16px 16px #9a630a, 17px 17px #9e650a, 18px 18px #a2680b, 19px 19px #a66a0b, 20px 20px #aa6d0b, 21px 21px #ae700c, 22px 22px #b2720c, 23px 23px #b6750c, 24px 24px #ba770c, 25px 25px #be7a0d, 26px 26px #c27d0d, 27px 27px #c67f0d, 28px 28px #ca820e, 29px 29px #ce840e, 30px 30px #d2870e, 31px 31px #d6890e, 32px 32px #da8c0f, 33px 33px #de8f0f, 34px 34px #e2910f, 35px 35px #e69410, 36px 36px #ea9610, 37px 37px #ee9910, 38px 38px #f39c11;
}

.timerAtom p
{
	text-align: center;
	margin: 0;
	font-size: 3em;
	font-family: 'Fugaz One', cursive;
	color: #fff;
	
}

.timerBlock>p
{
	text-align: center;
	margin: 0;
	font-family: 'Fugaz One', cursive;
	color: #ccc;
	
	
}
/* ----------------------- End TIMER ----------------------- */